
<script type="text/javascript">$(function() {
    $('span.stars').stars();
});</script>

<script type="text/javascript">$(function() {
    $('span.stars10').stars10();
});</script>

<h2>
  
  <%= @review.name %>
</h2>
<p>
  <%= image_tag @review.photo_url%>
</p>

<p>
  <strong>Yelp Rating: </strong>
  <%= @yelp_review.rating %> / <%= @yelp_review.scale %> <span class="stars"><%= @yelp_review.rating %></span>
</p>

<p>
  <strong>Trip Advisor Rating: </strong>
  <%= @ta_review.rating %> / <%= @ta_review.scale %> <span class="stars"><%= @ta_review.rating %></span>
</p>
<p>
  <strong>Foursquare Rating: </strong>
  <%= @fs_review.rating %> / <%= @fs_review.scale %> <span class="stars10"><%= @fs_review.rating %></span>
</p>
<p>
	<strong>Average Rating: </strong>
	<%= @aggregate %> / 5 <span class="stars"><%= @aggregate %></span>
</p>
  <hr>
  <br/>
	</p>
  <%= link_to "View all Restaurants", reviews_path %>
  </p>
  <p>
  <%= link_to "Home", root_path %>
  </p>
 